<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title th:text="${title}">Bloggy blog blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<div th:fragment="post-form">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            Title
            <input class="form-control" type="text" name="title" th:field="*{title}"/>
            <br/>
            Body
            <input class="form-control" type="text" name="body" th:field="*{body}"/>
            <br/>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

</body>
</html>
